<!doctype html>
{{template "header"}}
   <h1>Sign up</h1>
      <form method="POST" action="/signup" class="form">
      <div class="form-group">
         <label for="email">Email</label>
         <input type="text" id="email" name="email" class="form-control">
           </div>
         <div class="form-group">
         <label for="password">Password</label>
         <input type="password" id="password" name="password" class="form-control">
           </div>
             <div class="form-group">
         <button type="submit" class="btn btn-primary">Submit</button>
         </div>
      </form>
      </div>
   </body>
</html>